/* Common Styles start */
*{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.section-container{
    margin-bottom: 130px;
}

.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 24px auto 45px auto;
    display: block;
    max-width: 600px;
    
    }

.button-primary{
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: white;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
}

/* Common Styles end */

/* Header section styles start */
.header{
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 180px;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 97px;
    padding: 50px 240px 0;
}

.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin: 0;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0;
}
/* Header section styles end */

/* Our Featured Flowers section styles start */
.featured-flowers-title{

}

.flowers{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.flower-item-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 80px 0;

}

.flower-item-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 80px 0;

}

.flower-item-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 110px 80px 0;

}

.flower-item-image{
    width: 310px;
    height: 430px;
}

.flower-item a{
    display: flex;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 32px;
    justify-content: center;
}
/* Our Featured Flowers section end */

/* Hot Deal section styles start */
.hot-deal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 185px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 400px;

}

.hot-deal-section-button{
    display: block;
    margin: 10px auto 0 auto;
}
/* Hot Deal section styles end */

/* Instagram section styles start */
.instagram-image-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.instagram-image-item{
    width: 342px;
    height: 396px;

}
/* Instagram section styles end */

/* Latest Deals section styles start */
.latest-deals-container{
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: auto;
    max-width: 880px;
    display: block;
    padding: 120px 285px;
    margin: 0 auto 130px auto;
    /* margin: 0 220px; */
    border-radius: 8px;

}

.subscribe{
    display: flex;
    justify-content: center;
}

.subscription-form input[type=email]{
    border: none;
    border-radius: 8px;
    padding: 22px;
    background: #FFF;
    margin-right: 16px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
/* Latest Deals section styles end */

/* Footer section styles start */
.footer{
    padding: 128px 0;
    background: #111010;
}

.footer-logo{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.footer-logo-red{
    color: white;
}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin: 24px auto 32px auto;
    max-width: 625px;
    display: block;
    text-align: center;
}

.copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
/* Footer section styles end */